* {
    border-radius: 0;
    font-family: 'Operator Mono SSm Book';
    font-size: 6pt;
    min-height: 0;
}

window#waybar {
    background: #323232;
    opacity: 0.8;
    color: #DADAE8;
}

tooltip {
	background: #1E1E28;
	/* border-radius: 8px; */
	border-width: 2px;
	border-style: solid;
	border-color: #a4b9ef;
	}

#workspaces {
    background: #050505;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
}

#workspaces button {
    padding-left: 4px;
    padding-right: 4px;
    min-width: 0;
    color: #DADAE8;
}
#workspaces button:first-child {
    padding-left:2px;
}
#workspaces button:last-child {
    padding-right:2px;
}

#workspaces button.focused {
    color: #A4B9EF;
}

#workspaces button.urgent {
    color: #F9C096;
}

#workspaces button:hover {
    background: #5c5c5c;
    border-color: transparent;
    color: #A4B9EF;

}

#clock, #battery, #pulseaudio, #workspaces, #mpd  {
	padding: 2px 10px;
    background: #5c5c5c;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

#backlight,#network {
    padding-left: 15px;
    padding-right: 2px;
    background: #5c5c5c;
    /* border-radius: 4px 0px 0px 4px; */
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}
#network {
    border-radius: 0;
}

#custom-vpn {
    background: #5c5c5c;
    padding-right: 10px;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

#clock {
    padding-right: 15px;
    /* margin-right: 5px; */
    /* border-radius: 0px 4px 4px 0px; */
}

#custom-spotify {
    background: #5c5c5c;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    padding-right: 15px;
    padding-left: 15px;
    /* border-radius: 15px; */
}
